{% assign profile = site.data.data.profile %}
{% if profile %}
<section class="career-profile">
    <h2 class="title">Career Profile</h2>
    <div class="details">
        {{profile}}
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="VERTICAL" data-vanity="pro-rail-sakhaviev" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ae.linkedin.com/in/pro-rail-sakhaviev/en?trk=profile-badge">Rail Sakhaviev</a></div>
    </div>
</section>
{% endif %}