.volunteering {
    .title {
        @include header;
    }
    .volunteering-item {
        margin-bottom: 20px;
        .role {
            @include sub-header;
            margin-bottom: 10px;
        }
        .organization {
            @include body-text;
            font-weight: bold;
            margin-bottom: 10px;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
        }
    }
}
